* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Hero Section  */


.hero__section {
  background: #002ed0;
  padding: 0 60px;
  color: #fff;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.hero__left h1 {
  font-size: 90px;
}

.hero__left p {
  font-size: 16px;
  line-height: 2.3;
}

.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img {
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media screen and (max-width: 1100px) {
  .hero__section {
    padding: 30px;
  }

  .hero__wrapper {
    grid-template-columns: 1fr;
  }

  .hero__left h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 468px) {
  .hero__wrapper {
    grid-template-rows: 600px;
  }

  .hero__left h1 {
    font-size: 32px;
  }
}

/* Main Section */

/* Main Section */
.main__section {
  padding: 60px 60px;
  background: #002ed0;
  color: #fff;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__container h1 {
  font-size: 110px;
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.main__text {
  padding-right: 20px;
}

.main__text h2 {
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.main__text p {
  line-height: 2.3;
}

.main__image {
  display: flex;
  justify-content: center;
}

.main__img {
  width: 420px;
  height: 610px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .main__section {
    padding: 30px;
  }
  .main__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .main__image {
    margin-top: 40px;
  }

  .main__container h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 468px) {
  .main__text h2 {
    font-size: 32px;
  }

  .main__img {
    width: 100%;
    height: 100%;
  }
}

.features {
  background: #002ed0;
  color: #fff;
  position: relative;
}

.features__container {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.features__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 700px;
}

.features__container h1 {
  font-size: 50px;
}

.features__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 50px;
}

.features__content {
  display: flex;
  align-items: flex-start;
}

.features__content img {
  width: 100px;
  margin-right: 50px;
}

.features__desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.features__desc p {
  line-height: 2;
}

.features__right img {
  height: auto;
  width: 100%;
}

.yellow__bar {
  position: absolute;
  background: yellow;
  height: 80px;
  bottom: -40px;
  right: 0;
  width: 80%;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.yellow__bar img {
  margin: 0 40px;
}

.yellow__bar p {
  margin-right: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .features__grid {
    grid-template-columns: 1fr;
  }

  .macbook {
    display: none;
  }

  .yellow__bar {
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 468px) {
  .features__container {
    padding-top: 100px;
    padding-bottom: 160px;
    padding-left: 16px;
  }

  .features__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
  }

  .features__container h1 {
    text-align: center;
    margin-bottom: 100px;
  }

  .features__left {
    padding: 0 24px;
  }

  .features__content {
    margin-top: 40px;
  }

  .features__content img {
    margin-right: 16px;
  }

  .yellow__bar img {
    margin: 0 20px;
  }

  .yellow__bar p {
    margin-right: 20px;
  }
}



/* Gallery Section */

.gallery {
  background: #002ed0;
  color: #fff;
}

.gallery__container {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.gallery__container h1 {
  font-size: 110px;
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.gallery__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery__img {
  height: auto;
  width: 100%;
}

.gallery__right {
  padding: 150px 100px 0 20px;
}

.gallery__right h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.gallery__right p {
  margin-bottom: 50px;
  line-height: 2.5;
}

.gallery__right a {
  color: #fff;
  text-decoration: none;
}

.gallery__projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 64px;
}

.gallery__projects img {
  padding: 25px 10px;
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media screen and (max-width: 1368px) {
  .gallery__projects {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .gallery {
    padding: 30px;
  }

  .gallery__container h1 {
    font-size: 70px;
  }

  .gallery__main {
    grid-template-columns: 1fr;
  }

  .gallery__container {
    padding-left: 0px;
  }

  .gallery__right {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 468px) {
  .gallery {
    padding: 10px;
  }

  .gallery__container h1 {
    font-size: 40px;
  }
}